.envelope__vert-space {
    height: .5rem;
}

.envelope__headings {
    margin-bottom: .5rem;
    display: flex;
    align-items: flex-end;
    /* background-color: #ddd; */
}

.envelope__name {
    font-weight: 500;
}

.envelope__flex-expander {
    flex-grow: 1;
}

/* .envelope__amt {

} */

.envelope__amt--spent {
    margin-right: 1rem;
}

/* .envelope__amt--budgeted {

} */

.envelope__slash {
    margin-right: 1rem;
}

