<div class="grid-container">
    <h1 class="mat-h1">Dashboard</h1>

    <mat-grid-list cols="3" rowHeight="35rem">
        <mat-grid-tile *ngFor="let card of cards | async; index as cardIndex" [colspan]="card.cols" [rowspan]="card.rows">
            <mat-card class="dashboard-card">

                <mat-card-header>
                    <mat-card-title [ngSwitch]="cardIndex">
                        <span *ngSwitchCase="1">{{selectedEnvelope.name}} Envelope</span>
                        <span *ngSwitchDefault>{{card.title}}</span>
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item>Expand</button>
                            <button mat-menu-item>Remove</button>
                        </mat-menu>
                    </mat-card-title>
                </mat-card-header>

                <mat-card-content class="dashboard-card-content">
                    <div [ngSwitch]="cardIndex">
                        <app-envelope-list *ngSwitchCase="0" [envelopes]="envelopes" (envelopeSelected)="onEnvelopeSelected($event)"></app-envelope-list>
                        <app-envelope-details *ngSwitchCase="1" [envelope]="selectedEnvelope">{{card.title}}</app-envelope-details>
                    </div>
                </mat-card-content>

            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>
