*,
*::before, 
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    height: 100%;
    font-size: 62.5%; 
}

body { 
    height: 100%;
    margin: 0;
    padding: 3rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    box-sizing: border-box;
}
